<div class="color colors__item">
    <input type="radio" name="color" id="color-@@colorName" value="@@colorName" class="color__radio js-color" required>
    <label for="color-@@colorName" class="color__label color__label--@@colorName">Белый</label>
</div>
