<form class="form js-form-submit" method="post" data-validate="true">
    <div class="columns clearfix">
        <div class="col col-1-3 col-sm-1-1">
            <div class="field js-label-animation">
                <label for="contacts">Название</label>
                <input type="text" name="title" class="input" data-parsley-car-name required>
            </div>
        </div>

        <div class="col col-1-3 col-sm-1-2">
            <div class="field js-label-animation">
                <label for="year">Год</label>
                <input type="text" name="year" class="input" data-parsley-min-date="1960"  required>
            </div>
        </div>

        <div class="col col-1-3 col-sm-1-2">
            <div class="field js-label-animation">
                <label for="price">Цена</label>
                <input type="text" name="price" class="input" data-parsley-type="integer" required>
            </div>
        </div>

        <div class="col col-1-1">
            <div class="field js-label-animation">
                <label for="description">Описание</label>
                <input type="text" name="description" class="input">
            </div>
        </div>

        <div class="col col-1-3 col-sm-1-1">
            <p class="ln-text">Цвет</p>
            <div class="colors">
                @@include('color.html', {
                "colorName": "white"
                })

                @@include('color.html', {
                "colorName": "black"
                })

                @@include('color.html', {
                "colorName": "gray"
                })

                @@include('color.html', {
                "colorName": "red"
                })

                @@include('color.html', {
                "colorName": "green"
                })
            </div>
        </div>

        <div class="col col-1-3 col-sm-1-2">
            <div class="field mb-0">
                <select class="js-select select" name="status" data-placeholder="Статус" required>
                    <option></option>
                    <option value="in_stock">В наличии</option>
                    <option value="pednding">Ожидается</option>
                    <option value="out_of_stock">Нет в наличии</option>
                </select>
            </div>
        </div>

        <div class="col col-1-3 col-sm-1-2">
            <button type="submit" class="submit">
                Отправить
                <img src="img/svg/arrow.svg" alt="" class="submit__arrow">
            </button>
        </div>
    </div>
</form>
