<header class="header">
    <div class="container">
        <a href="#" class="header__logo">
            <img src="img/duck.png" alt="" class="header__duck">
            <img src="img/logo.png" alt="" class="header__text">
        </a>
    </div>
</header>
