<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kodix test</title>
<link href="css/external.css" rel="stylesheet">
<link href="css/internal.css" rel="stylesheet">
