/* Базовые стили */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    height: 100%;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: 'Roboto', Tahoma, sans-serif;
    line-height: 1.3;
    color: #000;
    vertical-align: top;
    backface-visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}


.heading {
    color: $dk-blue;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;

    &--h1 {
        font-size: 42px;
        text-align: center;
    }

    &--h2 {
        text-transform: uppercase;
        font-size: 20px;
    }
}

.wrap-main {
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
}

.container {
    max-width: 978px;
    margin: 0 auto;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.parsley-error {
    &-message {
        position: absolute;
        transform: translateY(100%);
        bottom: -5px;
        right: 0;
        color: $bd-red;
        font-size: 12px;

        @media (max-width: $tight) {
            display: none;
        }
    }

    @media (max-width: $tight) {
        border-left-color: red !important;
    }
}
