.form {
    margin-top: 56px;

    @media (max-width: $tight) {
        margin-top: 32px;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .col {
        /*float: left;*/
        padding: 0 10px;

        &-1-3 {
            width: calc(100% / 3);
        }

        &-1-1 {
            width: 100%;
        }

        &-sm {
            &-1-2 {
                @media (max-width: $tight) {
                    width: 50%;
                }
            }

            &-1-1 {
                @media (max-width: $tight) {
                    width: 100%;
                }
            }
        }
    }
}

.input,
input[type='text'] {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border-top: 1px solid $bd-gray;
    border-left: 1px solid $bd-gray;
    border-right: 1px solid $bd-gray;
    border-bottom: 2px solid $bd-gray;
    color: #000;
    transition: border 0.2s ease;

    &:hover {
        border-bottom-color: $bd-red;
    }

    &::placeholder {
        color: transparent;
    }

    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
}

.submit {
    width: 100%;
    height: 40px;
    background: $bd-red;
    border: none;
    border-radius: 3px;
    display: block;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    &__arrow {
        position: absolute;
        top: 13px;
        margin-left: 8px;
        transition: margin 0.2s ease;

        .submit:hover & {
            margin-left: 15px;
        }
    }
}

.field {
    position: relative;
    margin-bottom: 30px;

    .label,
    label {
        position: absolute;
        top: 0;
        right: 0;
        left: 10px;
        margin: 0;
        font-size: 12px;
        line-height: 40px;
        color: $dk-gray;
        cursor: text;
        transition: all 0.2s ease;
        pointer-events: none;
    }

    &.is-animated {
        &:after {
            transform: scaleX(1);
        }
    }

    &.is-filled {
        .label,
        label {
            cursor: default;
            font-size: 12px;
            line-height: 1;
            color: #999;
            transform: translateY(-20px);
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #111111;
        transform: scaleX(0);
        transition: transform 0.4s ease;
    }
}

.ln-text {
    color: $dk-gray;
}

.color {
    display: inline-block;
    vertical-align: top;

    &__label {
        width: 20px;
        height: 20px;
        font-size: 0;
        border-radius: 50%;
        display: block;
        box-sizing: content-box;

        .colors__item & {
            cursor: pointer;
            display: inline-block;
        }

        &--white {
            background: $white;
            box-shadow: inset 0 0 0 1px #dedede;

            .color__radio:checked + & {
                box-shadow: none;
            }
        }

        &--black {
            background: $black;
        }

        &--gray {
            background: $gray;
        }

        &--red {
            background: $red;
        }

        &--green {
            background: $green;
        }
    }

    &__radio:checked + &__label {
        border: 4px solid $bd-red;
    }

    &__radio {
        display: none;
    }
}

.colors {
    display: inline-block;
    position: relative;

    @media (max-width: $tight) {
        margin-bottom: 18px;

        .parsley-error-message {
            display: block;
            width: 100%;
            height: 100%;
            transform: none;
            border-left: 1px solid red;
            bottom: 0;
            font-size: 0;
            z-index: -1;
        }
    }

    &__item {
        vertical-align: baseline;
        margin-right: 12px;
        text-align: center;
        width: 28px;
        font-size: 0;
        height: 28px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.select2-container {
    &.select2 {
        width: 100% !important;
    }

    .select2-selection {
        height: 40px;
        border-radius: 0;
        border-color: $bd-gray;
        border-bottom-width: 2px;
        transition: border 0.2s ease;

        &:hover {
            border-bottom-color: $bd-red;
        }

        .select2-selection__rendered {
            line-height: 40px;
            padding-right: 30px;
            padding-left: 10px;
            color: #000;
        }

        .select2-selection__arrow {
            height: 40px;

            b {
                border-width: 6px 6px 0 6px;
                margin-left: -16px;
            }
        }
    }

    &.select2-container--open {
        .select2-selection {
            border-bottom-color: #000;

            .select2-selection__arrow {
                b {
                    border-color: transparent transparent #000 transparent;
                    border-width: 0 6px 6px 6px;
                }
            }
        }
    }

    .select2-results__option {
        list-style: none outside;
        margin: 0;
        padding: 6px 10px;
        color: $dk-gray;

        &--highlighted[aria-selected] {
            background: #fff;
            color: #000;
        }

        &[aria-selected="true"] {
            background: #fff;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}

.select2-dropdown {
    border: 1px solid $bd-gray;
    border-radius: 0;
}

.select2-results {
    padding-top: 6px;
}
