.footer,
.header {
    background: $dk-blue;
    min-height: 102px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    margin-top: 330px;

    @media (max-width: $middle) {
        margin-top: 424px;
    }

    @media (max-width: $tight) {
        margin-top: 0;
    }
}

.header {
    @media (max-width: $tight) {
        min-height: 80px;
    }

    &__logo {
        position: relative;
        display: block;
    }

    &__duck {
        position: absolute;
        top: -6px;
        left: -52px;

        @media (max-width: $tight) {
            height: 64px;
            left: -32px;
        }
    }

    &__text {
        @media (max-width: $tight) {
            height: 40px;
        }
    }
}

.content {
    padding-top: 68px;

    @media (max-width: $tight) {
        padding-top: 32px;
    }
}

.car-list {
    margin-top: 158px;
    padding: 0 10px;

    &__heading {
        border-left: 3px solid #8b9497;
        padding-left: 10px;

        @media (max-width: $tight) {
            display: none;
        }
    }

    @media (max-width: $middle) {
        margin-top: 48px;
    }

    @media (max-width: $tight) {
        padding: 0;
    }
}

.table {
    width: 100%;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
    display: none;

    &.is-visible {
        display: table;

        @media (max-width: $tight) {
            display: block;
        }
    }

    thead {
        @media (max-width: $tight) {
            display: none;
        }
    }

    tbody tr {
        &:first-child {
            td {
                padding-top: 14px;

                @media (max-width: $tight) {
                    padding-top: 10px;
                }
            }
        }

        &:last-child {
            td {
                border-bottom: none;
            }
        }

        @media (max-width: $tight) {
            display: flex;
            flex-wrap: wrap;
            background: #f5f6f6;
            border-bottom: 1px solid $bd-gray;
            padding: 8px 0;
        }
    }

    th {
        background: $bd-red;
        color: #fff;
        font-weight: normal;
        text-align: left;
        padding: 13px 15px;
        border-bottom: none;
    }

    &__item {
        background: #f5f6f6;
        padding: 10px 15px;
        border-bottom: 1px solid #e6e9ea;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;

        @media (max-width: $middle) {
            padding: 10px 5px;
        }

        @media (max-width: $tight) {
            border-bottom: none;
            white-space: normal;
        }

        &--title {
            white-space: normal;

            @media (max-width: $tight) {
                padding-left: 15px;
            }

            @media (max-width: $tight) {
                padding-left: 20px;
                padding-right: 10px;
                padding-bottom: 0;
                width: 50%;
                order: 0;
            }
        }

        &--year {
            text-align: center;

            @media (max-width: $tight) {
                order: 4;
                padding-left: 20px;
                padding-right: 10px;
                padding-top: 15px;
            }
        }

        &--color {
            text-align: center;

            @media (max-width: $tight) {
                order: 1;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 0;
            }
        }

        &--status {
            @media (max-width: $tight) {
                order: 5;
                padding-top: 15px;
            }
        }

        &--price {
            @media (max-width: $tight) {
                order: 2;
                margin-left: auto;
                width: calc(50% - 40px);
                text-align: right;
                padding-left: 0;
                padding-right: 30px;
                padding-bottom: 0;
            }
        }

        &--delete {
            text-align: center;

            @media (max-width: $tight) {
                order: 6;
                margin-left: auto;
                padding-right: 20px;
            }
        }
    }

    &__subdesc {
        color: $lt-gray;
        font-size: 13px;
        white-space: normal;

        @media (max-width: $tight) {
            order: 3;
            width: 100%;
            padding: 15px 20px 5px;
        }
    }

    &__delete {
        color: $lt-gray;
        border-radius: 20px;
        padding: 5px 15px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-weight: 300;
        transition: all 0.2s ease;

        &:hover {
            background: $dk-blue;
            color: #fff;
        }
    }

    @media (max-width: $tight) {
        border-top: 1px solid #e3e4e4;
        font-size: 14px;
    }
}
