$img_path: '../img';

$dk-blue: #282d30;
$dk-gray: #999;
$bd-gray: #dcdcdc;
$bd-red: #c4092f;
$lt-gray: #8b9497;


$white: #fff;
$black: #000;
$gray: #cbcbcc;
$red: #d74345;
$green:#88c504;

/*Брекпоинты*/
$tight: 720px;
$middle: 1024px;
